body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 85%;
    background-image: url(slike/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#vsebina {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
}

#meni, #predvajalnik {
    outline: 1px solid gray;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 10px;
}

#predvajalnik{
    background-image: url(slike/ozadje-slika.jpg);
    background-size: cover;
}

#meni {
    width: 300px;
    background-color: floralwhite;
}

#meniH1{
    float:left;
}

#predvajalnik {
    width: 700px;
}

#odjava{
    float:right;
}

#pesmi{
    clear: both;
    margin-top: 20px;
}

#edit{
    float:right;
    margin-right: 50px;
    background-color:yellow;
    outline: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}

#adminpanel{
    text-decoration: none;
}

#dodaj_pesem{
    background-color: floralwhite;
    outline: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin:0 auto;
}

#uredi_pesem {
    background-color: floralwhite;
    outline: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin:0 auto;
}

#dodaj_izvajalca{
        background-color: floralwhite;
    outline: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin:0 auto;
}