body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 85%;
    background-image: url(slike/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#vsebina {
    padding: 40px;
    overflow: hidden;
}

#meni, #predvajalnik {
    outline: 1px solid gray;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 10px;
}

#predvajalnik {
    background-image: url(slike/ozadje-slika.jpg);
    background-size: cover;
    width: 700px;
    float: left;
}

#meni {
    width: 300px;
    background-color: floralwhite;
    float: left;
}

#meniH1 {
    float: left;
}

#odjava {
    float: right;
}

#pesmi {
    clear: both;
    margin-top: 20px;
}

#edit {
    float: right;
    margin-right: 20px;
    background-color: yellow;
    outline: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}

#adminpanel {
    text-decoration: none;
}

#dodaj_pesem, #uredi_pesem, #dodaj_izvajalca, #dodaj_album {
    background-color: floralwhite;
    outline: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
}

#nazaj_gumb {
    float: left;
    background-color: floralwhite;
    outline: 1px solid gray;
    margin-left: 20px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

#nazajtext {
    text-decoration: none;
}

#vsecki {
    outline: 1px solid gray;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 10px;
    width: 300px;
    background-color: floralwhite;
    position: absolute;
    margin-top: 500px;
}

#like_gumb, .unlike_gumb {
    border-radius: 12px;
    background: dodgerblue;
    text-align: center;
    height: 40px;
    line-height: 30px;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
}

footer {
    margin-top: auto;
    padding: 15px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 14px;
}
